In [ ]:
!pip install pydrive

Requirement already satisfied: pydrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from pydrive) (1.7.9)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from pydrive) (3.13)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pydrive) (4.1.3)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (1.12.0)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (0.0.3)
Requirement already satisfied: httplib2<1dev,>=0.9.2 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (0.11.3)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (1.4.2)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (3.0.0)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->pydrive) (4.0)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->pydrive) (0.4.5)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->pydrive) (0.2.5)
Requirement already satisfied: cachetools>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->pydrive) (3.1.1)

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
def GoogleDriveAuth(ID):
    auth.authenticate_user()
    gauth = GoogleAuth()
    gauth.credentials = GoogleCredentials.get_application_default()
    drive = GoogleDrive(gauth)
    file = drive.CreateFile({'id': ID})
    return file

In [ ]:
File_ID = '' #insert file id
file_name = GoogleDriveAuth(File_ID)
file_name.GetContentFile('Train.csv','iso-8859-1')

In [ ]:
File_ID = '' #insert file id
file_name = GoogleDriveAuth(File_ID)
file_name.GetContentFile('Test.csv','iso-8859-1')

In [ ]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
import math
from datetime import  datetime

In [ ]:
df = pd.read_csv("Train.csv")
df.head()

             date_time is_holiday  ...  weather_description  traffic_volume
0  2012-10-02 09:00:00       None  ...     scattered clouds            5545
1  2012-10-02 10:00:00       None  ...        broken clouds            4516
2  2012-10-02 11:00:00       None  ...      overcast clouds            4767
3  2012-10-02 12:00:00       None  ...      overcast clouds            5026
4  2012-10-02 13:00:00       None  ...        broken clouds            4918

[5 rows x 15 columns]

In [ ]:
df.isnull().sum()

date_time              0
is_holiday             0
air_pollution_index    0
humidity               0
wind_speed             0
wind_direction         0
visibility_in_miles    0
dew_point              0
temperature            0
rain_p_h               0
snow_p_h               0
clouds_all             0
weather_type           0
weather_description    0
traffic_volume         0
dtype: int64

In [ ]:
df.dtypes

date_time               object
is_holiday              object
air_pollution_index      int64
humidity                 int64
wind_speed               int64
wind_direction           int64
visibility_in_miles      int64
dew_point                int64
temperature            float64
rain_p_h               float64
snow_p_h               float64
clouds_all               int64
weather_type            object
weather_description     object
traffic_volume           int64
dtype: object

In [ ]:
df['date_time'] = pd.to_datetime(df.date_time)

In [ ]:
df.dtypes

date_time              datetime64[ns]
is_holiday                     object
air_pollution_index             int64
humidity                        int64
wind_speed                      int64
wind_direction                  int64
visibility_in_miles             int64
dew_point                       int64
temperature                   float64
rain_p_h                      float64
snow_p_h                      float64
clouds_all                      int64
weather_type                   object
weather_description            object
traffic_volume                  int64
dtype: object

In [ ]:
# df['date'] = df['date_time'].dt.date

In [ ]:
df['time'] = df['date_time'].dt.time

In [ ]:
df.shape

(33750, 16)

In [ ]:
df = df.drop('date_time',axis = 1)

In [ ]:
df.shape

(33750, 15)

In [ ]:
df.head()

  is_holiday  air_pollution_index  ...  traffic_volume      time
0       None                  121  ...            5545  09:00:00
1       None                  178  ...            4516  10:00:00
2       None                  113  ...            4767  11:00:00
3       None                   20  ...            5026  12:00:00
4       None                  281  ...            4918  13:00:00

[5 rows x 15 columns]

In [ ]:
df.dtypes

is_holiday              object
air_pollution_index      int64
humidity                 int64
wind_speed               int64
wind_direction           int64
visibility_in_miles      int64
dew_point                int64
temperature            float64
rain_p_h               float64
snow_p_h               float64
clouds_all               int64
weather_type            object
weather_description     object
traffic_volume           int64
time                    object
dtype: object

## **Analysis of data**

In [ ]:
pd.value_counts(df['weather_description'])

sky is clear                           7524
mist                                   4047
overcast clouds                        3972
broken clouds                          3379
light rain                             2442
scattered clouds                       2294
Sky is Clear                           1709
few clouds                             1568
light snow                             1280
moderate rain                          1105
haze                                    902
light intensity drizzle                 703
heavy snow                              587
fog                                     567
drizzle                                 460
proximity thunderstorm                  345
heavy intensity rain                    311
snow                                    190
thunderstorm                             66
proximity shower rain                    54
thunderstorm with heavy rain             42
heavy intensity drizzle                  40
thunderstorm with light rain             35
proximity thunderstorm with rain         25
thunderstorm with rain                   23
very heavy rain                          18
smoke                                    17
proximity thunderstorm with drizzle      11
light intensity shower rain               8
light rain and snow                       6
SQUALLS                                   4
thunderstorm with light drizzle           4
light shower snow                         4
thunderstorm with drizzle                 2
freezing rain                             2
sleet                                     2
shower snow                               1
shower drizzle                            1
Name: weather_description, dtype: int64

In [ ]:
pd.value_counts(df['weather_type'])

Clouds          11213
Clear            9233
Mist             4047
Rain             3940
Snow             2070
Drizzle          1204
Haze              902
Fog               567
Thunderstorm      553
Smoke              17
Squall              4
Name: weather_type, dtype: int64

In [ ]:
pd.value_counts(df['is_holiday'])

None                         33707
New Years Day                    5
Christmas Day                    5
Thanksgiving Day                 5
Veterans Day                     4
Columbus Day                     4
Labor Day                        4
Washingtons Birthday             4
Independence Day                 3
State Fair                       3
Martin Luther King Jr Day        3
Memorial Day                     3
Name: is_holiday, dtype: int64

In [ ]:
pd.value_counts(df['rain_p_h'])

0.00     30996
0.25       679
0.51       241
0.30       119
0.76        97
1.02        94
0.38        84
1.52        59
0.64        53
1.27        42
0.60        32
1.78        23
0.89        21
0.28        19
0.44        18
0.34        16
1.80        16
2.16        16
1.09        16
2.54        16
0.42        15
1.20        15
2.03        15
0.90        15
1.40        15
4.57        13
2.29        13
0.68        13
2.79        12
0.32        12
         ...
2.93         1
15.75        1
12.83        1
1.61         1
2.68         1
3.17         1
2.96         1
8.86         1
4.66         1
5.10         1
2.08         1
1.47         1
1.25         1
9.00         1
0.80         1
7.05         1
5.73         1
10.05        1
2.78         1
3.01         1
2.73         1
4.05         1
16.51        1
2.84         1
2.19         1
3.12         1
1.53         1
2.34         1
0.92         1
2.13         1
Name: rain_p_h, Length: 353, dtype: int64

In [ ]:
pd.value_counts(df['snow_p_h'])

0.00    33687
0.05       14
0.06       12
0.10        6
0.13        6
0.51        6
0.25        6
0.32        5
0.17        3
0.08        2
0.44        2
0.21        1
Name: snow_p_h, dtype: int64

### Data Cleaning

In [ ]:
# df = pd.get_dummies(df, columns=['weather_description'], prefix = ['weather_description'])

In [ ]:
df = pd.get_dummies(df, columns=['weather_type'], prefix = ['weather_type'])

In [ ]:
df = df.drop('weather_description',axis = 1)
# df = df.drop('weather_type',axis=1)
# df = df.drop('is_holiday',axis=1)

In [ ]:
# df = df.drop('rain_p_h',axis = 1)
df = df.drop('snow_p_h',axis = 1)
# df = df.drop('wind_speed',axis = 1)
df = df.drop('wind_direction',axis = 1)
# df = df.drop('humidity',axis = 1)
df = df.drop('air_pollution_index',axis = 1)
df = df.drop('visibility_in_miles',axis = 1)
df = df.drop('dew_point',axis = 1)
# df = df.drop('temperature',axis = 1)
# df = df.drop('clouds_all',axis = 1)

In [ ]:
df = pd.get_dummies(df, columns=['is_holiday'], prefix = ['is_holiday'])

In [ ]:
# df = pd.get_dummies(df, columns=['date'], prefix = ['date'])

In [ ]:
df = pd.get_dummies(df, columns=['time'], prefix = ['time'])

In [ ]:
df.shape

(33750, 53)

In [ ]:
df.head()

   humidity  wind_speed  ...  time_22:00:00  time_23:00:00
0        89           2  ...              0              0
1        67           3  ...              0              0
2        66           3  ...              0              0
3        66           3  ...              0              0
4        65           3  ...              0              0

[5 rows x 53 columns]

In [ ]:
print(df.columns)

Index(['humidity', 'wind_speed', 'temperature', 'rain_p_h', 'clouds_all',
       'traffic_volume', 'weather_type_Clear', 'weather_type_Clouds',
       'weather_type_Drizzle', 'weather_type_Fog', 'weather_type_Haze',
       'weather_type_Mist', 'weather_type_Rain', 'weather_type_Smoke',
       'weather_type_Snow', 'weather_type_Squall', 'weather_type_Thunderstorm',
       'is_holiday_Christmas Day', 'is_holiday_Columbus Day',
       'is_holiday_Independence Day', 'is_holiday_Labor Day',
       'is_holiday_Martin Luther King Jr Day', 'is_holiday_Memorial Day',
       'is_holiday_New Years Day', 'is_holiday_None', 'is_holiday_State Fair',
       'is_holiday_Thanksgiving Day', 'is_holiday_Veterans Day',
       'is_holiday_Washingtons Birthday', 'time_00:00:00', 'time_01:00:00',
       'time_02:00:00', 'time_03:00:00', 'time_04:00:00', 'time_05:00:00',
       'time_06:00:00', 'time_07:00:00', 'time_08:00:00', 'time_09:00:00',
       'time_10:00:00', 'time_11:00:00', 'time_12:00:00', 'time_13:00:00',
       'time_14:00:00', 'time_15:00:00', 'time_16:00:00', 'time_17:00:00',
       'time_18:00:00', 'time_19:00:00', 'time_20:00:00', 'time_21:00:00',
       'time_22:00:00', 'time_23:00:00'],
      dtype='object')

In [ ]:
# df['date'] = df['date'].strftime("%m-%d-%Y")

### training and testing for performance measurement

In [ ]:
traffic_volume = df['traffic_volume']
train_performance = df.drop('traffic_volume',axis = 1)
train_performance.insert(0,'X0',1)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(train_performance, traffic_volume, test_size=0.25, random_state=0)

In [ ]:
df.dtypes

humidity                                  int64
wind_speed                                int64
temperature                             float64
rain_p_h                                float64
clouds_all                                int64
traffic_volume                            int64
weather_type_Clear                        uint8
weather_type_Clouds                       uint8
weather_type_Drizzle                      uint8
weather_type_Fog                          uint8
weather_type_Haze                         uint8
weather_type_Mist                         uint8
weather_type_Rain                         uint8
weather_type_Smoke                        uint8
weather_type_Snow                         uint8
weather_type_Squall                       uint8
weather_type_Thunderstorm                 uint8
is_holiday_Christmas Day                  uint8
is_holiday_Columbus Day                   uint8
is_holiday_Independence Day               uint8
is_holiday_Labor Day                      uint8
is_holiday_Martin Luther King Jr Day      uint8
is_holiday_Memorial Day                   uint8
is_holiday_New Years Day                  uint8
is_holiday_None                           uint8
is_holiday_State Fair                     uint8
is_holiday_Thanksgiving Day               uint8
is_holiday_Veterans Day                   uint8
is_holiday_Washingtons Birthday           uint8
time_00:00:00                             uint8
time_01:00:00                             uint8
time_02:00:00                             uint8
time_03:00:00                             uint8
time_04:00:00                             uint8
time_05:00:00                             uint8
time_06:00:00                             uint8
time_07:00:00                             uint8
time_08:00:00                             uint8
time_09:00:00                             uint8
time_10:00:00                             uint8
time_11:00:00                             uint8
time_12:00:00                             uint8
time_13:00:00                             uint8
time_14:00:00                             uint8
time_15:00:00                             uint8
time_16:00:00                             uint8
time_17:00:00                             uint8
time_18:00:00                             uint8
time_19:00:00                             uint8
time_20:00:00                             uint8
time_21:00:00                             uint8
time_22:00:00                             uint8
time_23:00:00                             uint8
dtype: object

In [ ]:
from sklearn.linear_model import LinearRegression
# instantiate the model (using the default parameters)
linearreg = LinearRegression()

# fit the model with data
linearreg.fit(x_train,y_train)

#
y_pred=linearreg.predict(x_test)

In [ ]:
#To retrieve the intercept:
print(linearreg.intercept_)
#For retrieving the slope:
print(linearreg.coef_)

2535650441198.4966
[-4.55893234e+06 -1.98871299e+00  1.46693566e+01  5.78505483e+00
 -5.18231894e-03 -7.57258954e-01 -2.63720804e+12 -2.63720804e+12
 -2.63720804e+12 -2.63720804e+12 -2.63720804e+12 -2.63720804e+12
 -2.63720804e+12 -2.63720804e+12 -2.63720804e+12 -2.63720804e+12
 -2.63720804e+12 -6.15766938e+10 -6.15766940e+10 -6.15766937e+10
 -6.15766937e+10 -6.15766940e+10 -6.15766938e+10 -6.15766935e+10
 -6.15766939e+10 -6.15766942e+10 -6.15766938e+10 -6.15766941e+10
 -6.15766941e+10  1.63138854e+11  1.63138854e+11  1.63138854e+11
  1.63138854e+11  1.63138854e+11  1.63138856e+11  1.63138858e+11
  1.63138858e+11  1.63138858e+11  1.63138858e+11  1.63138858e+11
  1.63138858e+11  1.63138858e+11  1.63138858e+11  1.63138858e+11
  1.63138859e+11  1.63138859e+11  1.63138859e+11  1.63138858e+11
  1.63138857e+11  1.63138856e+11  1.63138856e+11  1.63138856e+11
  1.63138855e+11]

In [ ]:
coeff_df = pd.DataFrame(linearreg.coef_, df.columns, columns=['Coefficient'])  
coeff_df

                                       Coefficient
humidity                             -4.558932e+06
wind_speed                           -1.988713e+00
temperature                           1.466936e+01
rain_p_h                              5.785055e+00
clouds_all                           -5.182319e-03
traffic_volume                       -7.572590e-01
weather_type_Clear                   -2.637208e+12
weather_type_Clouds                  -2.637208e+12
weather_type_Drizzle                 -2.637208e+12
weather_type_Fog                     -2.637208e+12
weather_type_Haze                    -2.637208e+12
weather_type_Mist                    -2.637208e+12
weather_type_Rain                    -2.637208e+12
weather_type_Smoke                   -2.637208e+12
weather_type_Snow                    -2.637208e+12
weather_type_Squall                  -2.637208e+12
weather_type_Thunderstorm            -2.637208e+12
is_holiday_Christmas Day             -6.157669e+10
is_holiday_Columbus Day              -6.157669e+10
is_holiday_Independence Day          -6.157669e+10
is_holiday_Labor Day                 -6.157669e+10
is_holiday_Martin Luther King Jr Day -6.157669e+10
is_holiday_Memorial Day              -6.157669e+10
is_holiday_New Years Day             -6.157669e+10
is_holiday_None                      -6.157669e+10
is_holiday_State Fair                -6.157669e+10
is_holiday_Thanksgiving Day          -6.157669e+10
is_holiday_Veterans Day              -6.157669e+10
is_holiday_Washingtons Birthday      -6.157669e+10
time_00:00:00                         1.631389e+11
time_01:00:00                         1.631389e+11
time_02:00:00                         1.631389e+11
time_03:00:00                         1.631389e+11
time_04:00:00                         1.631389e+11
time_05:00:00                         1.631389e+11
time_06:00:00                         1.631389e+11
time_07:00:00                         1.631389e+11
time_08:00:00                         1.631389e+11
time_09:00:00                         1.631389e+11
time_10:00:00                         1.631389e+11
time_11:00:00                         1.631389e+11
time_12:00:00                         1.631389e+11
time_13:00:00                         1.631389e+11
time_14:00:00                         1.631389e+11
time_15:00:00                         1.631389e+11
time_16:00:00                         1.631389e+11
time_17:00:00                         1.631389e+11
time_18:00:00                         1.631389e+11
time_19:00:00                         1.631389e+11
time_20:00:00                         1.631389e+11
time_21:00:00                         1.631389e+11
time_22:00:00                         1.631389e+11
time_23:00:00                         1.631389e+11

In [ ]:
df_compare = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df_compare.head(25)

       Actual    Predicted
10802    2789  2564.941895
4407     4814  4666.814941
7745     3238  3029.300293
12064     375   410.216309
22623    1381   835.039551
29772     543   559.617676
9269     1845  1386.204102
19442     872   681.916504
4832     4377  5285.794922
14395    4854  4584.844238
19033    2815  2690.222168
28631    5552  4087.025879
4806     4995  4289.147461
28994    2883  1981.657715
3127     4779  4576.348145
20065    4875  3986.123047
31823    5965  4944.211914
3415     3019  2789.212891
19062    2131  4596.347168
26161    1690  2198.661133
24308    4477  4391.338379
14483     320   548.314941
28884    2196  1235.692383
19139    6432  5721.588379
3814      664  1894.416504

In [ ]:
from sklearn import metrics
# cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
# cnf_matrix
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 654.7352350184804
Mean Squared Error: 922472.3497765956
Root Mean Squared Error: 960.4542413757126

### Final Training and testing

In [ ]:
df_test = pd.read_csv("Test.csv")
df_test.head()

             date_time is_holiday  ...  weather_type      weather_description
0  2017-05-18 00:00:00       None  ...          Rain            moderate rain
1  2017-05-18 00:00:00       None  ...          Mist                     mist
2  2017-05-18 00:00:00       None  ...       Drizzle  light intensity drizzle
3  2017-05-18 01:00:00       None  ...          Rain     heavy intensity rain
4  2017-05-18 01:00:00       None  ...          Mist                     mist

[5 rows x 14 columns]

In [ ]:
df_test.isnull().sum()

date_time              0
is_holiday             0
air_pollution_index    0
humidity               0
wind_speed             0
wind_direction         0
visibility_in_miles    0
dew_point              0
temperature            0
rain_p_h               0
snow_p_h               0
clouds_all             0
weather_type           0
weather_description    0
dtype: int64

In [ ]:
df_test.dtypes

date_time               object
is_holiday              object
air_pollution_index      int64
humidity                 int64
wind_speed               int64
wind_direction           int64
visibility_in_miles      int64
dew_point                int64
temperature            float64
rain_p_h               float64
snow_p_h                 int64
clouds_all               int64
weather_type            object
weather_description     object
dtype: object

In [ ]:
df_test['date_time'] = pd.to_datetime(df_test.date_time)

In [ ]:
df_test.dtypes

date_time              datetime64[ns]
is_holiday                     object
air_pollution_index             int64
humidity                        int64
wind_speed                      int64
wind_direction                  int64
visibility_in_miles             int64
dew_point                       int64
temperature                   float64
rain_p_h                      float64
snow_p_h                        int64
clouds_all                      int64
weather_type                   object
weather_description            object
dtype: object

In [ ]:
# df_test['date'] = df_test['date_time'].dt.date

In [ ]:
df_test['time'] = df_test['date_time'].dt.time

In [ ]:
df_test.shape

(14454, 15)

In [ ]:
date_time = df_test['date_time']

In [ ]:
df_test = df_test.drop('date_time',axis = 1)

In [ ]:
df_test.shape

(14454, 14)

In [ ]:
df_test.dtypes

is_holiday              object
air_pollution_index      int64
humidity                 int64
wind_speed               int64
wind_direction           int64
visibility_in_miles      int64
dew_point                int64
temperature            float64
rain_p_h               float64
snow_p_h                 int64
clouds_all               int64
weather_type            object
weather_description     object
time                    object
dtype: object

### Data Cleaning

In [ ]:
df_test.shape

(14454, 14)

In [ ]:
# df_test = pd.get_dummies(df_test, columns=['weather_description'], prefix = ['weather_description'])

In [ ]:
df_test = pd.get_dummies(df_test, columns=['weather_type'], prefix = ['weather_type'])

In [ ]:
df_test = pd.get_dummies(df_test, columns=['is_holiday'], prefix = ['is_holiday'])

In [ ]:
# df_test = pd.get_dummies(df_test, columns=['date'], prefix = ['date'])

In [ ]:
df_test = pd.get_dummies(df_test, columns=['time'], prefix = ['time'])

In [ ]:
df_test = df_test.drop('weather_description',axis = 1)
# df_test = df_test.drop('weather_type',axis=1)
# df_test = df_test.drop('is_holiday',axis=1)

In [ ]:
# df_test = df_test.drop('rain_p_h',axis = 1)
df_test = df_test.drop('snow_p_h',axis = 1)
# df_test = df_test.drop('wind_speed',axis = 1)
df_test = df_test.drop('wind_direction',axis = 1)
# df_test = df_test.drop('humidity',axis = 1)
df_test = df_test.drop('air_pollution_index',axis = 1)
df_test = df_test.drop('visibility_in_miles',axis = 1)
df_test = df_test.drop('dew_point',axis = 1)
# df_test = df_test.drop('temperature',axis = 1)
# df_test = df_test.drop('clouds_all',axis = 1)

In [ ]:
df_test.shape

(14454, 51)

In [ ]:
df_test.dtypes

humidity                                  int64
wind_speed                                int64
temperature                             float64
rain_p_h                                float64
clouds_all                                int64
weather_type_Clear                        uint8
weather_type_Clouds                       uint8
weather_type_Drizzle                      uint8
weather_type_Fog                          uint8
weather_type_Haze                         uint8
weather_type_Mist                         uint8
weather_type_Rain                         uint8
weather_type_Smoke                        uint8
weather_type_Snow                         uint8
weather_type_Thunderstorm                 uint8
is_holiday_Christmas Day                  uint8
is_holiday_Columbus Day                   uint8
is_holiday_Independence Day               uint8
is_holiday_Labor Day                      uint8
is_holiday_Martin Luther King Jr Day      uint8
is_holiday_Memorial Day                   uint8
is_holiday_New Years Day                  uint8
is_holiday_None                           uint8
is_holiday_State Fair                     uint8
is_holiday_Thanksgiving Day               uint8
is_holiday_Veterans Day                   uint8
is_holiday_Washingtons Birthday           uint8
time_00:00:00                             uint8
time_01:00:00                             uint8
time_02:00:00                             uint8
time_03:00:00                             uint8
time_04:00:00                             uint8
time_05:00:00                             uint8
time_06:00:00                             uint8
time_07:00:00                             uint8
time_08:00:00                             uint8
time_09:00:00                             uint8
time_10:00:00                             uint8
time_11:00:00                             uint8
time_12:00:00                             uint8
time_13:00:00                             uint8
time_14:00:00                             uint8
time_15:00:00                             uint8
time_16:00:00                             uint8
time_17:00:00                             uint8
time_18:00:00                             uint8
time_19:00:00                             uint8
time_20:00:00                             uint8
time_21:00:00                             uint8
time_22:00:00                             uint8
time_23:00:00                             uint8
dtype: object

In [ ]:
traffic_volume = df['traffic_volume']
train = df.drop('traffic_volume',axis = 1)
train.insert(0,'X0',1)

In [ ]:
difference = set(train).difference(df_test)
difference

{'X0', 'weather_type_Squall'}

In [ ]:
# train = train.drop('weather_description_SQUALLS',axis = 1)
# train = train.drop('weather_description_freezing rain',axis = 1)
# train = train.drop('weather_description_light rain and snow',axis = 1)
# train = train.drop('weather_description_shower snow',axis = 1)
# train = train.drop('weather_description_thunderstorm with drizzle',axis = 1)
# train = train.drop('weather_description_very heavy rain',axis = 1)
train = train.drop('weather_type_Squall',axis = 1)

In [ ]:
train.shape

(33750, 52)

In [ ]:
df_test.shape

(14454, 51)

In [ ]:
from sklearn.linear_model import LinearRegression
# instantiate the model (using the default parameters)
linearreg = LinearRegression()

# fit the model with data
linearreg.fit(train,traffic_volume)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
df_test.insert(0,'X0',1)

In [ ]:
df_test.head()

   X0  humidity  wind_speed  ...  time_21:00:00  time_22:00:00  time_23:00:00
0   1        63           1  ...              0              0              0
1   1        63           1  ...              0              0              0
2   1        56           1  ...              0              0              0
3   1        56           1  ...              0              0              0
4   1        56           1  ...              0              0              0

[5 rows x 52 columns]

In [ ]:
#
y_pred=linearreg.predict(df_test)

In [ ]:
#To retrieve the intercept:
print(linearreg.intercept_)
#For retrieving the slope:
print(linearreg.coef_)

-493208354918.64087
[-2.16633652e+05 -1.86572863e+00  1.52963014e+01  6.13370227e+00
 -1.24283415e-02 -7.45588238e-01  1.47642854e+02  2.01928713e+02
  1.85560419e+02  5.82552808e+01  1.25955950e+02  1.25082185e+02
  1.62349686e+02 -3.77144108e+02  6.18378719e+01 -4.73744045e+01
 -3.67376104e+10 -3.67376109e+10 -3.67376103e+10 -3.67376103e+10
 -3.67376106e+10 -3.67376104e+10 -3.67376098e+10 -3.67376105e+10
 -3.67376108e+10 -3.67376104e+10 -3.67376106e+10 -3.67376106e+10
  5.29946181e+11  5.29946181e+11  5.29946181e+11  5.29946181e+11
  5.29946181e+11  5.29946182e+11  5.29946184e+11  5.29946185e+11
  5.29946185e+11  5.29946185e+11  5.29946184e+11  5.29946185e+11
  5.29946185e+11  5.29946185e+11  5.29946185e+11  5.29946185e+11
  5.29946186e+11  5.29946186e+11  5.29946185e+11  5.29946183e+11
  5.29946183e+11  5.29946183e+11  5.29946182e+11  5.29946182e+11]

In [ ]:
coeff_df = pd.DataFrame(linearreg.coef_, train.columns, columns=['Coefficient'])  
coeff_df

                                       Coefficient
X0                                   -2.166337e+05
humidity                             -1.865729e+00
wind_speed                            1.529630e+01
temperature                           6.133702e+00
rain_p_h                             -1.242834e-02
clouds_all                           -7.455882e-01
weather_type_Clear                    1.476429e+02
weather_type_Clouds                   2.019287e+02
weather_type_Drizzle                  1.855604e+02
weather_type_Fog                      5.825528e+01
weather_type_Haze                     1.259560e+02
weather_type_Mist                     1.250822e+02
weather_type_Rain                     1.623497e+02
weather_type_Smoke                   -3.771441e+02
weather_type_Snow                     6.183787e+01
weather_type_Thunderstorm            -4.737440e+01
is_holiday_Christmas Day             -3.673761e+10
is_holiday_Columbus Day              -3.673761e+10
is_holiday_Independence Day          -3.673761e+10
is_holiday_Labor Day                 -3.673761e+10
is_holiday_Martin Luther King Jr Day -3.673761e+10
is_holiday_Memorial Day              -3.673761e+10
is_holiday_New Years Day             -3.673761e+10
is_holiday_None                      -3.673761e+10
is_holiday_State Fair                -3.673761e+10
is_holiday_Thanksgiving Day          -3.673761e+10
is_holiday_Veterans Day              -3.673761e+10
is_holiday_Washingtons Birthday      -3.673761e+10
time_00:00:00                         5.299462e+11
time_01:00:00                         5.299462e+11
time_02:00:00                         5.299462e+11
time_03:00:00                         5.299462e+11
time_04:00:00                         5.299462e+11
time_05:00:00                         5.299462e+11
time_06:00:00                         5.299462e+11
time_07:00:00                         5.299462e+11
time_08:00:00                         5.299462e+11
time_09:00:00                         5.299462e+11
time_10:00:00                         5.299462e+11
time_11:00:00                         5.299462e+11
time_12:00:00                         5.299462e+11
time_13:00:00                         5.299462e+11
time_14:00:00                         5.299462e+11
time_15:00:00                         5.299462e+11
time_16:00:00                         5.299462e+11
time_17:00:00                         5.299462e+11
time_18:00:00                         5.299462e+11
time_19:00:00                         5.299462e+11
time_20:00:00                         5.299462e+11
time_21:00:00                         5.299462e+11
time_22:00:00                         5.299462e+11
time_23:00:00                         5.299462e+11

In [ ]:
columns = ['date_time','traffic_volume']
df_final = pd.DataFrame(columns=columns)

In [ ]:
df_final['date_time'] = date_time
df_final['traffic_volume'] = y_pred

In [ ]:
df_final.shape

(14454, 2)

In [ ]:
df_final.head()

            date_time  traffic_volume
0 2017-05-18 00:00:00      811.956299
1 2017-05-18 00:00:00      774.688782
2 2017-05-18 00:00:00      848.227112
3 2017-05-18 01:00:00      522.193604
4 2017-05-18 01:00:00      484.926147

In [ ]:
df_final.to_csv('Submission.csv',index = False)

### some cleaning

In [ ]:
df_final.describe()

       traffic_volume
count    14454.000000
mean      3284.142930
std       1751.563531
min         69.670410
25%       1651.303604
50%       4152.413086
75%       4710.264465
max       5958.275940

In [ ]:
df_final.dtypes

date_time         datetime64[ns]
traffic_volume           float64
dtype: object

In [ ]:
df_final.traffic_volume[df_final.traffic_volume < 0] = 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_final.traffic_volume.describe()

count    14454.000000
mean      3284.142930
std       1751.563531
min         69.670410
25%       1651.303604
50%       4152.413086
75%       4710.264465
max       5958.275940
Name: traffic_volume, dtype: float64

In [ ]:
df_final.loc[df_final['traffic_volume'] == 0]

Empty DataFrame
Columns: [date_time, traffic_volume]
Index: []

In [ ]:
df_final.to_csv('Submission.csv',index = False)